<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sun</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
  <div class="container">
    <button class="switcher">тик</button>
    <div class="arrow-1">
  </div>
  <div class="arrow-2">
</div>
<div class="suncontainer">
    <div class="sun1" id="sun1"></div>
  </div></div>
<div class="boxcontainer">
  <div class="box"  id ="box1"></div>
  <div class="box"  id ="box2"></div>
  <div class="box"  id ="box3"></div>

</div>

        <script src="/js/main.js"></script> 
</body>
</html>